body {
   	margin: 0;
 	background: #ffffff;
 	background-image: url("../img/background.png");
 	background-attachment: fixed;
 	background-repeat: no-repeat;
    background-size: 100% 100%;
}

.dest-pic {
  object-fit: cover;
  width:250px;
  height:250px;
}

.content {
	margin: 10px;
}

.sidebar {
	margin: 20px;
}

.reviews {
	height: 55px;
	width: 550px;
	overflow: scroll;
	background-color: #CCDDFF;
	padding: 10px;
	font-family:'Century Gothic', sans-serif !important ;
	font-size: 11px;
	margin-bottom: 10px;
}
.review-title {
	padding-bottom: 4px;
	font-size: 12px;
}

.activities {
	height: 55px;
	width: 550px;
	overflow: scroll;
	background-color: #FFCCCC;
	padding: 10px;
	font-family:'Century Gothic', sans-serif !important ;
	font-size: 11px;
	margin-bottom: 10px;
}
.activities-title {
	padding-bottom: 4px;
	font-size: 12px;
}

.bg-image {
  background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
  background-size: cover;
  background-position: center;
}

p {
	font-family:'Century Gothic', sans-serif !important ;
	font-size: 13px;
}

h3 {
	font-family:'Century Gothic', sans-serif !important ;
	font-size: 25px;
	letter-spacing: 3px;
}